name: deploy_to_cocoapods

on:
  push:
    branches:
      - 'test'

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - uses: michaelhenry/deploy-to-cocoapods-github-action@1.0.1

      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
